{% extends 'base.html.twig' %}

{% block title %}signaler{% endblock %}

{% block body %}

    {{ include('reports/_form.html.twig') }}

    <a href="{{ path('app_reports_index') }}">back to list</a>
{% endblock %}
